{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block content %}
    <form method="post" action="{% url 'accounts:login-action' %}">
        {% csrf_token %}
        <label for="username"><b>Username</b></label>
        <label>
            <input type="text" placeholder="Enter Username" name="username" required>
        </label>

        <label for="password"><b>Password</b></label>
        <label>
            <input type="password" placeholder="Enter Password" name="password" required>
        </label>

        <button type="submit">Login</button>

        {% if err_msg %}
            <p style="color: red" class="message"> Error: {{ err_msg }} </p>
        {% endif %}
    </form>
    <a id="back" href="#">Go Back</a><br>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(() => {
            // go back or redirect to home link
            $("#back").click(e => {
                e.preventDefault();
                if (window.history.length > 1) {
                    window.history.back();
                } else {
                    window.location.href = "{% url 'core:index' %}";
                }
            });
        })
    </script>
{% endblock %}
