{% extends "base.html" %}
{% block title %} Register {% endblock %}
{% block content %}
    <form method="post" action="{% url 'accounts:register-action' %}">
        {% csrf_token %}
        <label for="username"><b>Username</b></label>
        <label>
            <input type="text" placeholder="Enter Username" name="username" required>
        </label>

        <label for="password"><b>Password</b></label>
        <label>
            <input type="password" placeholder="Enter Password" name="password" required>
        </label>

        <label for="email"><b>Email (optional)</b></label>
        <label>
            <input type="text" placeholder="Enter Email" name="email">
        </label>

        <label for="first-name"><b>First Name (optional)</b></label>
        <label>
            <input type="text" placeholder="Enter First Name" name="first-name">
        </label>

        <label for="last-name"><b>Last Name (optional)</b></label>
        <label>
            <input type="text" placeholder="Enter Last Name" name="last-name">
        </label>

        <button type="submit">Register</button>
        {% if err_msg %}
            <p style="color: red"> Error: {{ err_msg }} </p>
        {% endif %}
    </form>
{% endblock %}
