<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
            Sakana Reference Manager
        {% endblock %}
    </title>

    {% load static %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'ico/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% block style %}
    {% endblock %}

</head>

<body>
    <div class="nav-bar">
        <a id="about-nav" href="{% url 'core:about' %}">
            <img class="logo" src="{% static 'img/sakanarm-light.svg' %}" alt="">
            <span class="logo-name">SakanaRM</span>
        </a>
        <a id="home-nav" href="{% url 'core:index' %}">Home</a>
        {% if request.user.is_superuser or not request.user.is_authenticated %}
            <a id="search-nav" href="{% url 'core:search-page' %}">Public Search</a>
            <a id="tutorial-nav" href="{% url 'core:tutorial' %}">Tutorial</a>
            <a id="auth-nav" href="{% url 'accounts:login-register-page' %}">Login/Register</a>
        {% else %}
            <a id="upload-nav" href="{% url 'core:upload-paper-page' %}">Upload Paper</a>
            <a id="process-nav" href="{% url 'core:process-paper-page' %}">Process Paper</a>
            <a id="tag-nav" href="{% url 'core:add-tag-definition-page' %}">Add Tag</a>
            <a id="search-nav" href="{% url 'core:search-page' %}">Search</a>
            <a id="papers-nav" href="{% url 'core:my-papers' request.session.uid %}">My Papers</a>
            <a id="tutorial-nav" href="{% url 'core:tutorial' %}">Tutorial</a>
            <div id="logout">Logout</div>
        {% endif %}
    </div>

    <div class="page-content">
        {% block content %}
            <h2> Replace with
                <span style="color: red">{% verbatim %} {% block content %} some content ... {% endblock %}
                    {% endverbatim %}</span> in your template!
            </h2>
        {% endblock %}
    </div>

    <script src={% static "js/jquery-3.7.1.min.js" %}></script>

    {% block scripts %}
    {% endblock %}

    <script>
        $(document).ready(() => {
            var logoutURL = "{% url 'accounts:logout-action' %}";
            $("#logout").click(() => {
                if (!confirm("Are you sure you want to logout?")) return;
                $.ajax({
                    url: logoutURL,
                    type: 'POST',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                    },
                    success: () => {
                        location.reload();
                    }
                });
            });
        })
    </script>

</body>

</html>