{% extends "base.html" %}
{% block style %}
    <style>
        table, th, td {
            border: 1px solid black;
        }
        .jump-container {
            display: flex;
            width: 500px;
            justify-content: space-around;
        }

    </style>
{% endblock %}
{% block content %}
    {% if request.user.is_authenticated %}
        <b>Hello, {{ request.user.get_username }}!</b>
        <br>
        <b>UID: {{ request.session.uid }}</b>
        <a href="{% url 'accounts:logout-page' %}">Logout</a>
        <br><br><br>
        <div class="jump-container">
            <div class="workflow-links">
                <a href="{% url 'core:upload-paper-page' %}" target="_blank">Upload new paper</a>
                <br>
                <a href="{% url 'core:add-tag-definition-page' %}" target="_blank">Add tag and definition</a>
                <br>
                <a href="{% url 'core:update-tag-definition-page' %}" target="_blank">Update tag and definition</a>
                <br>
                <a href="{% url 'core:process-paper-page' %}" target="_blank">Process existing paper</a>
            </div>
            <div class="info-links">
                <a href="{% url 'core:search-page' %}" target="_blank">Search</a>
                <br>
                <a href="{% url 'core:my-papers' request.session.uid %}" target="_blank">My papers</a>
                <br>
                <a href="{% url 'core:my-tags' request.session.uid %}" target="_blank">My tags</a>
                <br>
                <a href="{% url 'core:my-archived-workflows' request.session.uid %}" target="_blank">
                    Managed archived workflows
                </a>
            </div>
        </div>

        <br><br><br>
        <h2>My Workflows</h2> <a href="{% url 'core:my-workflows' request.session.uid %}" target="_blank">View All</a>
        <hr>
        {% if workflows %}
            {% load custom_filters %}
            <div class="table-container">
                <table class="data-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Paper</th>
                            <th>Work Type</th>
                            <th>Stage</th>
                            <th>Status</th>
                            <th>Last Updated</th>
                            <th>manage</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for wf in workflows %}
                            <tr>
                                <td>{{ wf.name }}</td>
                                <td>{{ wf|get_title }}</td>
                                <td>{{ wf.get_work_type_display }}</td>
                                <td>{{ wf.get_stage_display }}</td>
                                <td>{{ wf.get_status_display }}</td>
                                <td>{{ wf.last_updated }}</td>
                                <td><a href="{% url 'core:workflow-detail' wf.id %}" target="_blank">Go to Manage</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            No workflow history.
        {% endif %}

    {% else %}
        <b>You are not logged in!</b>
        <a href="{% url 'accounts:login-page' %}">Login</a>
        <a href="{% url 'accounts:register-page' %}">Register</a>
        <br><br><br>
    {% endif %}
    <br><br>


    {% if err_msg %}
        <p style="color: red"> Error: {{ err_msg }} </p>
    {% endif %}

{% endblock %}
