{% extends 'base.html' %}

{% block title %}
    Paper Detail - {{ paper.id }}
{% endblock %}

{% block style %}
    <style>
        .scrollable-checkboxes {
            display: flex;
            flex-wrap: wrap;
            height: 120px;
            width: 400px;
            overflow-y: scroll;
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 5px;
        }

        .scrollable-checkboxes label {
            width: 33.33%;
            box-sizing: border-box;
        }
    </style>
{% endblock %}

{% block content %}
    <h2>PID: {{ paper.id }}</h2>
    <h2>Title: {{ paper.title }}</h2>
    <h2>Owner: {{ paper.owner }}</h2>
    <h2>Tags:
        {% for tag in paper.tags.all %}
            <p style="color: grey"> #{{ tag.name }} &nbsp;&nbsp; </p>
        {% endfor %}
    </h2>
    <br>
    <a id="back" href="#">Go Back</a><br>
    <a href="{% url 'core:index' %}" target="_blank">Homepage</a><br>
    <a href="{% url 'core:upload-paper-page' %}" target="_blank">Go to upload</a><br>
    <a href="{% url 'core:process-paper-page' %}?selectedPid={{ paper.id }}" target="_blank">Go to process</a><br>
    <br>

    <h2><em>Actions</em></h2>
    <hr>
    {% if paper.file_path %}
        <h3 style="display:inline;margin-right: 20px">Download paper</h3>
        <a href="{{ paper.file_path }}?asattachment=1"><button id="download">Download</button></a>
        <hr>
        {% if paper.owner.id == request.session.uid %}
            <h3>Add (merge) tags to paper</h3>
            <div class="scrollable-checkboxes" id="add-tags-box">
                {% for t in tags %}
                    <label><input type="checkbox" name="tag-ids" value="{{ t.id }}">{{ t.name }}</label>
                {% endfor %}
            </div>
            <button id="add-tags">Add</button>
            <p id="err-msg-1" style="color: red"></p>
            <hr>

            <h3>Remove tags from paper</h3>
            <div class="scrollable-checkboxes" id="remove-tags-box">
                {% for t in paper.tags.all %}
                    <label><input type="checkbox" name="tag-ids" value="{{ t.id }}">{{ t.name }}</label>
                {% endfor %}
            </div>
            <button id="remove-tags">Remove</button>
            <p id="err-msg-3" style="color: red"></p>
            <hr>

            <h3 style="color: red">Delete paper</h3>
            <button id="delete">Delete</button>
            <p id="err-msg-2" style="color: red"></p>
            <p id="del-info" style="color:green;"></p>
        {% endif %}
    {% else %}
        <i style="color: red; font-size: large">Paper not ready yet. Please wait until it is fully uploaded or
            contact the administrator for help.</i>
    {% endif %}

    <script>
        var addTagsURL = "{% url 'core:paper-add-tags' %}";
        var removeTagsURL = "{% url 'core:paper-remove-tags' %}";
        var deleteURL = "{% url 'core:delete-paper' %}";

        $(document).ready(() => {
            // Show tag names on input
            $('#tags').on("change", () => {
                const input = $('#tags').val();
                if (input.length > 0) {
                    const splitValues = input.split(';').map(value => value.trim());
                    $("#confirm").text("Confirmation: " + splitValues.join(', '));
                } else {
                    $("#confirm").text("");
                }
            });

            // Add tags event
            $("#add-tags").click(function (){
                var formData = new FormData();
                $('#add-tags-box input[name="tag-ids"]:checked').each(function() {
                    formData.append('tag-ids', $(this).val());
                });
                formData.append('pid', '{{ paper.id }}');
                formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
                $.ajax({
                    url: addTagsURL,
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: res => {
                        if (res.status === 0) {
                            $('#err-msg-1').text('');
                            alert("Added selected tags successfully!");
                            location.reload();
                        } else {
                            $('#err-msg-1').text("Error: " + res.err_msg);
                        }
                    }
                });
            })

            // Remove tags event
            $("#remove-tags").click(function (){
                var formData = new FormData();
                $('#remove-tags-box input[name="tag-ids"]:checked').each(function() {
                    formData.append('tag-ids', $(this).val());
                });
                formData.append('pid', '{{ paper.id }}');
                formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
                $.ajax({
                    url: removeTagsURL,
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: res => {
                        if (res.status === 0) {
                            $('#err-msg-3').text('');
                            alert("Removed selected tags successfully!");
                            location.reload();
                        } else {
                            $('#err-msg-3').text("Error: " + res.err_msg);
                        }
                    }
                });
            })

            // Delete event
            $("#delete").click(() => {
                $.ajax({
                    url: deleteURL,
                    type: 'POST',
                    data: {
                        "pid": '{{ paper.id }}',
                        "csrfmiddlewaretoken": '{{ csrf_token }}'
                    },
                    success: res => {
                        $("#del-info").text('');
                        if (res.status === 0) {
                            $('#err-msg-2').text('');
                            alert("Deleted paper successfully!");
                            location.href = "{% url 'core:index' %}";
                        } else {
                            $('#err-msg-2').text("Error: " + res.err_msg);
                        }
                    }
                });
                $("#del-info").text("Deleting ... Please wait");
            });

            // go back or redirect to home link
            $("#back").click(e => {
                e.preventDefault();
                if (window.history.length > 1) {
                    window.history.back();
                } else {
                    window.location.href = "{% url 'core:index' %}";
                }
            });
        })
    </script>
{% endblock %}