{% extends 'base.html' %}

{% block style %}
    <style>
        .scrollable-checkboxes {
            display: flex;
            flex-wrap: wrap;
            height: 200px;
            width: 600px;
            overflow-y: scroll;
            border: 1px solid #ccc;
            padding: 10px;
        }

        .scrollable-checkboxes label {
            width: 33.33%;
            box-sizing: border-box;
        }
    </style>
{% endblock %}

{% block content %}
    <form method="post" action="{% url 'core:create-workflow' %}" enctype="multipart/form-data" id="process-form">
        {% csrf_token %}
        <label>Select Paper:
            <select name="pid">
                {% for p in papers %}
                    {% if p.id != selected_pid %}
                        <option value="{{ p.id }}">{{ p.title }}</option>
                    {% else %}
                        <option value="{{ p.id }}" selected="selected">{{ p.title }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </label>
        <br><br>
        Select Tags: <br><br>
        <div class="scrollable-checkboxes">
            {% for t in tags %}
                <label><input type="checkbox" name="tag-names" value="{{ t.name }}">{{ t.name }}</label>
            {% endfor %}
        </div>
        <br><br>
        <label>Workflow name:
            <input type="text" name="name" placeholder="Untitled Workflow"/>
        </label>
        <br><br>
        <button type="submit">Process</button>
    </form>

    <p id="err-msg" style="color: red"></p>

    <br>
    <a id="back" href="#">Go Back</a><br>

    <script>
        $(document).ready(() => {
            // ajax submit form
            $('#process-form').submit(e => {
                e.preventDefault();
                var checkedTags = $('input[name="tag-names"]:checked').map(function () {
                    return this.value;
                }).get();

                const form = $('#process-form');
                var formData = new FormData(form[0]);
                formData.append("type", "{{ PROCESS }}");
                checkedTags.forEach(val => {
                    formData.append('tag-names[]', val);
                })
                $.ajax({
                    url: form.attr('action'),
                    type: form.attr('method'),
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: res => {
                        if (res.status === 0) {
                            $('#err-msg').text('');
                            const wid = res.wid.toString();
                            const url = '{% url 'core:workflow-detail' 99999 %}'.replace('99999', wid);
                            window.open(url);
                        } else {
                            $('#err-msg').text("Error: " + res.err_msg);
                        }
                    }
                });
            });

            // go back or redirect to home link
            $("#back").click(e => {
                e.preventDefault();
                if (window.history.length > 1) {
                    window.history.back();
                } else {
                    window.location.href = "{% url 'core:index' %}";
                }
            });
        })
    </script>

{% endblock %}