{% extends 'base.html' %}

{% block content %}
    <form method="post" action="{% url 'core:create-workflow' %}" enctype="multipart/form-data" id="upload-form">
        {% csrf_token %}
        <label>Select Paper:
            <input id="paper" type="file" name="paper" accept="application/pdf" required />
        </label>
        <br><br>
        <label>Title:
            <input id="title" type="text" name="title" required/>
        </label>
        <br><br>
        <label>Workflow name:
            <input type="text" name="name" placeholder="Untitled Workflow" />
        </label>
        <br><br>
        <label>Type:
            <select name="type">
{#                <option value="upload_process">upload and process</option>#}
                <option value="{{ UPLOAD }}">upload</option>
            </select>
        </label>
        <br><br>
        <label>Replace (if any): <input type="checkbox" name="replace" value="true"></label>
        <br><br>
        <button type="submit">Start Workflow</button>
    </form>

    <p id="err-msg" style="color: red"></p>

    <script>
        $(document).ready(() => {
            // detect file name
            $("#paper").on("change", () => {
                const fileInput = $('#paper');
                if (fileInput[0].files.length > 0) {
                    const fullName = fileInput[0].files[0].name;
                    const title = fullName.substring(0, fullName.lastIndexOf('.'));
                    $('#title').val(title);
                }
            });

            // ajax submit form
            $('#upload-form').submit(e => {
                e.preventDefault();
                const form = $('#upload-form');
                var formData = new FormData(form[0]);
                $.ajax({
                    url: form.attr('action'),
                    type: form.attr('method'),
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: res => {
                        if (res.status === 0) {
                            const wid = res.wid.toString();
                            const url = '{% url 'core:workflow-detail' 99999 %}'.replace('99999', wid);
                            window.open(url, "_blank");
                        } else {
                            $('#err-msg').text("Error: " + res.err_msg);
                        }
                    }
                });
            })
        })
    </script>

{% endblock %}