{% extends 'base.html' %}

{% block title %}
    Advanced Search
{% endblock %}

{% block style %}
    <style>
        .scrollable-checkboxes {
            display: flex;
            flex-wrap: wrap;
            height: 200px;
            width: 600px;
            overflow-y: scroll;
            border: 1px solid #ccc;
            padding: 10px;
        }

        .scrollable-checkboxes label {
            width: 33.33%;
            box-sizing: border-box;
        }

        table, th, td {
            border: 1px solid black;
        }

        .filters-container {
            overflow: hidden;
            transition: max-height 0.3s ease-out;
        }

        .filters-container.collapsed {
            max-height: 0;
        }

        .filters-container.expanded {
            max-height: 500px;
        }

        .toggle-button {
            cursor: pointer;
            display: inline-block;
            margin: 10px 0;
        }

        .disabled-checkbox {
            pointer-events: none;
            opacity: 0.5;
            color: #ccc;
        }
        .disabled-label {
            color: #ccc;
        }
    </style>
{% endblock %}

{% block content %}
    {% load custom_filters %}
    <div class="toggle-button">
        <span id="toggle-filters">&#x25B2; <i>(click to collapse)</i></span>
    </div>
    <div class="filters-container expanded" id="filters-container">
        <label><b>Title contains:</b>
            <input type="text" name="title-filter" id="title-filter"/>
        </label>
        <br><br>

        <label>
            <b>Owner: </b>
            <input type="radio" name="owner-filter" value="anyone" checked>
            Anyone
        </label>
        <label>
            <input type="radio" name="owner-filter" value="me">
            Me
        </label>
        <label>
            <input type="radio" name="owner-filter" value="others">
            Others
        </label>
        <br><br>

        <b>Select tags:</b> <label>&#x1F50E;&#xFE0F;<input id="search-bar" type="search"></label>
        <br><br>
        <div class="scrollable-checkboxes" id="t-filter">
            <label><input type="checkbox" id="untagged-checkbox" name="tags-filter"
                          value="-1"><i>untagged</i></label>
            {% for t in tags %}
                <label><input type="checkbox" class="tag-checkbox" name="tags-filter"
                              value="{{ t.id }}">{{ t.name }}</label>
            {% endfor %}
        </div>
        <br>

        <label>
            <b>Match type: </b>
            <input type="radio" class="match-filter" name="match-filter" value="exact" id="exact">
            Exact match
        </label>
        <label>
            <input type="radio" class="match-filter" name="match-filter" value="inclusive">
            Inclusive match
        </label>
        <label>
            <input type="radio" class="match-filter" name="match-filter" value="union">
            Union
        </label>
        <br><br>
        <button id="search">Search</button>
        <button id="reset">Reset filters</button>
        <p id="err-msg" style="color: red"></p>
    </div>

    <hr>
    <div class="table-container">
        <p id="paper-count">Paper count: {{ papers.count }}</p>
        <table class="result-table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Tags</th>
                    <th>Owner</th>
                    <th>Last Updated</th>
                    <th>manage</th>
                </tr>
            </thead>
            <tbody id="results-body">
                {% for p in papers %}
                    <tr>
                        <td>{{ p.title }}</td>
                        <td>{{ p|join_tags:", " }}</td>
                        <td>{{ p.owner.auth_user.username }}</td>
                        <td>{{ p.last_modified }}</td>
                        <td><a href="{% url 'core:paper-detail' p.id %}" target="_blank">Go to Manage</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready(() => {
            var searchURL = "{% url 'core:search-result' %}";
            var errMsg = $("#err-msg");

            // toggle filters button
            $("#toggle-filters").click(function () {
                var filtersContainer = $("#filters-container");
                if (filtersContainer.hasClass("collapsed")) {
                    filtersContainer.removeClass("collapsed").addClass("expanded");
                    $("#toggle-filters").html("&#x25B2; <i>(click to collapse)</i>"); // Up arrow
                } else {
                    filtersContainer.removeClass("expanded").addClass("collapsed");
                    $("#toggle-filters").html("&#x25BC; <i>(click to expand)</i>"); // Down arrow
                }
            });

            // reset filters to default, do not update table
            $("#reset").click(function () {
                var tagCheckbox = $(".tag-checkbox");
                var untaggedBox = $("#untagged-checkbox");
                $("#title-filter").val(""); // Clear title filter input
                $("input[name='owner-filter'][value='anyone']").prop('checked', true); // Set 'anyone' radio checked
                $("input[name='tags-filter']").prop('checked', false); // Uncheck all tags filter checkboxes
                $("input[name='match-filter']").prop('checked', false); // Uncheck all match type radios
                $("#search").val(""); // Clear search input for tags
                errMsg.text(""); // Clear error message

                // Re-enable all checkboxes
                tagCheckbox.prop('disabled', false);
                untaggedBox.prop('disabled', false);
                tagCheckbox.removeClass("disabled-checkbox");
                untaggedBox.removeClass("disabled-checkbox");
            });

            // grey out other checkboxes when untagged and exact match are selected at the same time
            $(".match-filter").change(function () {
                var tagCheckbox = $(".tag-checkbox");
                var exactChecked = $("#exact").prop('checked');
                var untaggedChecked = $("#untagged-checkbox").prop('checked');

                if (exactChecked && untaggedChecked) {
                    tagCheckbox.not("#untagged-checkbox").prop('disabled', true);
                    tagCheckbox.not("#untagged-checkbox").addClass("disabled-checkbox");
                    tagCheckbox.not("#untagged-checkbox").parent().addClass("disabled-label");
                } else {
                    tagCheckbox.prop('disabled', false);
                    tagCheckbox.removeClass("disabled-checkbox");
                    tagCheckbox.parent().removeClass("disabled-label");
                }
            });

            $("#untagged-checkbox").change(function () {
                var tagCheckbox = $(".tag-checkbox");
                var exactChecked = $("#exact").prop('checked');
                var untaggedChecked = $(this).prop('checked');

                if (exactChecked && untaggedChecked) {
                    tagCheckbox.not("#untagged-checkbox").prop('disabled', true);
                    tagCheckbox.not("#untagged-checkbox").addClass("disabled-checkbox");
                    tagCheckbox.not("#untagged-checkbox").parent().addClass("disabled-label");
                } else {
                    tagCheckbox.prop('disabled', false);
                    tagCheckbox.removeClass("disabled-checkbox");
                    tagCheckbox.parent().removeClass("disabled-label");
                }
            });

            // Filter event (search and update table)
            $("#search").click(function () {
                var titleFilter = $("#title-filter").val();
                var ownerFilter = $("input[name='owner-filter']:checked").val();
                var tagsFilter = [];
                $("input[name='tags-filter']:checked").each(function () {
                    tagsFilter.push($(this).val());
                });
                var matchFilter = $("input[name='match-filter']:checked").val();

                // Clear previous error messages and check for restrictions
                errMsg.text('');
                if (tagsFilter.length > 0 && !matchFilter) {
                    errMsg.text("Error: Please select a match type.");
                    return;
                }

                var formData = new FormData();
                formData.append('title', titleFilter);
                formData.append('owner', ownerFilter);
                tagsFilter.forEach(function(t) {
                    formData.append('tags', t);
                });
                formData.append('match', matchFilter);
                formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

                $.ajax({
                    url: searchURL,
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: res => {
                        if (res.status === 0) {
                            errMsg.text('');
                            // Update table
                            var resultsBody = $("#results-body");
                            resultsBody.empty();
                            res.papers.forEach(p => {
                                var newRow = `
                                    <tr>
                                        <td>${p.title}</td>
                                        <td>${p.tags}</td>
                                        <td>${p.owner}</td>
                                        <td>${p.last_modified}</td>
                                        <td><a href="/core/paper-detail/${p.id}" target="_blank">Go to Manage</a></td>
                                    </tr>
                                `;
                                resultsBody.append(newRow);
                            });

                            $("#paper-count").text("Paper count: " + res.papers.length);
                        } else {
                            errMsg.text("Error: " + res.err_msg);
                        }
                    }
                });
            });
        })
    </script>
{% endblock %}