{% extends 'base.html' %}

{% block title %}
    Add Tag and Definition
{% endblock %}

{% block content %}
    <form method="post" action="{% url 'core:add-tag-definition' %}" enctype="multipart/form-data" id="tag-form">
        {% csrf_token %}
        <label>Tag name:
            <input type="text" name="name" id="name"/> (one at a time;
            semicolons, leading and trailing spaces will be removed)
        </label>
        <br><br>
        <label>Definition:
            <input type="text" name="definition" id="definition"/>
        </label>
        <br><br>
        <button type="submit">Add Tag</button>
    </form>
    <p id="suc-msg" style="color: green"></p>
    <p id="err-msg" style="color: red"></p>

    <br>
    <a id="back" href="#">Go Back</a><br>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(() => {
            // ajax submit form
            $('#tag-form').submit(e => {
                e.preventDefault();
                if (!confirm("Are you sure to create this new tag?")) {
                    return
                }
                const form = $('#tag-form');
                var formData = new FormData(form[0]);
                $.ajax({
                    url: form.attr('action'),
                    type: form.attr('method'),
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: res => {
                        if (res.status === 0) {
                            $('#suc-msg').text('Successfully added tag "' + res.tag_name + '"!');
                            $('#err-msg').text('');
                            $('#name').val('');
                            $('#definition').val('');
                        } else {
                            $('#suc-msg').text('');
                            $('#err-msg').text("Error: " + res.err_msg);
                        }
                    }
                });
            });

            // go back or redirect to home link
            $("#back").click(e => {
                e.preventDefault();
                if (window.history.length > 1) {
                    window.history.back();
                } else {
                    window.location.href = "{% url 'core:index' %}";
                }
            });
        })
    </script>
{% endblock %}