{% extends 'base.html' %}

{% block title %}
    Workflow Detail - {{ workflow.id }}
{% endblock %}

{% block content %}
    <h2>WID: {{ workflow.id }}</h2>
    <h2>Name: {{ workflow.name }}</h2>
    <h2>Title: {{ workflow.paper.title }}</h2>
    <h2>Type: {{ workflow.get_work_type_display }}</h2>
    <h2>Stage: {{ workflow.get_stage_display }}</h2>
    <h2>Status: {{ workflow.get_status_display }}</h2>
    <div class="wf-info">
        {% if workflow.work_type == upload%}
            {% if workflow.status == pending %}
                <h3 style="color: darkblue">Uploading {{ workflow.instructions }}</h3>
            {% elif workflow.status == completed %}
                <h3 style="color: darkblue">Uploaded {{ workflow.instructions }}</h3>
            {% endif %}
        {% elif workflow.work_type == process%}
            {% if workflow.status == pending %}
                <h3 style="color: darkblue">Processing with {{ workflow.instructions }}</h3>
            {% elif workflow.status == completed %}
                <h3 style="color: darkblue">Processed with {{ workflow.instructions }}</h3>
                <h3 style="color: green">Tags added: {{ result.added_tags|join:"; " }}</h3>
                <h3 style="color: red">Tags removed: {{ result.removed_tags|join:"; " }} </h3>
                <h3 style="color: yellowgreen">Tags kept: {{ result.kept_tags|join:"; " }}</h3>
            {% endif %}
        {% endif %}
    </div>
    <br>

    <a id="back" href="#">Go Back</a><br>
    <a href="{% url 'core:index' %}" target="_blank">Homepage</a><br>
    {% if not workflow.is_archived %}
        <a href="{% url 'core:upload-paper-page' %}" target="_blank">Go to upload</a><br>
        <a href="{% url 'core:add-tag-definition-page' %}" target="_blank">Go to add tags</a><br>
        {% if workflow.status == completed %}
            {% if workflow.work_type ==  upload %}
                <a href="{% url 'core:process-paper-page' %}" target="_blank">Go to process</a><br>
            {% endif %}
            <a href="{% url 'core:paper-detail' workflow.paper.id %}" target="_blank">Paper detail page</a><br>
        {% endif %}
    {% endif %}

    <br>
    <h2><em>Actions</em></h2>
        <hr>
    {% if workflow.user.id != request.session.uid %}
        <h2>You are not the owner! No actions available</h2>
    {% else %}
        {% if workflow.is_archived %}
            <h3 style="color: lightgreen">Restore workflow</h3>
            <button id="restore">Restore</button>
            <p id="err-msg-3" style="color: red"></p>
        {% elif workflow.status in can_abort_status %}
            <h3>Abort workflow</h3>
            <button id="abort">Abort</button>
            <p id="err-msg-1" style="color: red"></p>
        {% else %}
            <h3 style="color: red">Archive workflow</h3>
            <button id="archive">Archive</button>
            <p id="err-msg-2" style="color: red"></p>
        {% endif %}
    {% endif %}

    <script>
        var pollURL = "{% url 'core:workflow-status' %}";
        var abortURL = "{% url 'core:abort-workflow' %}";
        var archiveURL = "{% url 'core:archive-workflow' %}";
        var restoreURL = "{% url 'core:restore-workflow' %}";

        $(document).ready(() => {
            // Abort event
            $("#abort").click(() => {
                if (!confirm("Are you sure to abort this workflow? WARNING: This operation is not invertible!")) {
                    return
                }
                $.ajax({
                    url: abortURL,
                    type: 'POST',
                    data: {
                        "wid": '{{ workflow.id }}',
                        "csrfmiddlewaretoken": '{{ csrf_token }}'
                    },
                    success: res => {
                        if (res.status === 0) {
                            $('#err-msg-1').text('');
                            alert("Aborted workflow successfully!");
                            location.reload();
                        } else if (res.alert_msg) {
                            alert(res.alert_msg);
                            location.href = "{% url 'core:index' %}";
                        } else {
                            $('#err-msg-1').text("Error: " + res.err_msg);
                        }
                    }
                })
            });

            // Archive event
            $("#archive").click(() => {
                if (!confirm("Are you sure to archive this workflow?")) {
                    return
                }
                $.ajax({
                    url: archiveURL,
                    type: 'POST',
                    data: {
                        "wid": '{{ workflow.id }}',
                        "csrfmiddlewaretoken": '{{ csrf_token }}'
                    },
                    success: res => {
                        if (res.status === 0) {
                            $('#err-msg-2').text('');
                            alert("Archived workflow successfully!");
                            location.reload();
                        } else {
                            $('#err-msg-2').text("Error: " + res.err_msg);
                        }
                    }
                })
            });

            // Restore event
            $("#restore").click(() => {
                if (!confirm("Are you sure to restore this workflow?")) {
                    return
                }
                $.ajax({
                    url: restoreURL,
                    type: 'POST',
                    data: {
                        "wid": '{{ workflow.id }}',
                        "csrfmiddlewaretoken": '{{ csrf_token }}'
                    },
                    success: res => {
                        if (res.status === 0) {
                            $('#err-msg-3').text('');
                            alert("Restored workflow successfully!");
                            location.reload();
                        } else {
                            $('#err-msg-3').text("Error: " + res.err_msg);
                        }
                    }
                })
            });

            // go back or redirect to home link
            $("#back").click(e => {
                e.preventDefault();
                if (window.history.length > 1) {
                    window.history.back();
                } else {
                    window.location.href = "{% url 'core:index' %}";
                }
            });
        })

        // poll for workflow complete
        {% if workflow.status == pending %}
            const wid = {{ workflow.id }};
            var poll = () => {
                $.ajax({
                    url: pollURL,
                    type: 'GET',
                    data: {"wid": wid},
                    success: res => {
                        if (res.status !== 0) {
                            alert(res.err_msg);
                        } else if (res.is_done) {
                            location.reload();
                        }
                    },
                });
            };
            setInterval(poll, 1000 * 10); // poll every 10 seconds
        {% endif %}
    </script>

{% endblock %}