{% extends "base.html" %}
{% block style %}
    <style>
        table, th, td {
            border: 1px solid black;
        }
        .jump-container {
            display: flex;
            width: 500px;
            justify-content: space-around;
        }

    </style>
{% endblock %}
{% block content %}
    {% if request.user.is_authenticated and not request.user.is_superuser %}
        <h2>Hello, <i>{{ request.user.get_username }}</i></h2>
        <br><br>
        <div class="jump-container">
            <div class="workflow-links">
                <a href="{% url 'core:upload-paper-page' %}">Upload new paper</a>
                <br>
                <a href="{% url 'core:add-tag-definition-page' %}">Add tag and definition</a>
                <br>
                <a href="{% url 'core:update-tag-definition-page' %}">Update tag and definition</a>
                <br>
                <a href="{% url 'core:process-paper-page' %}">Process existing paper</a>
            </div>
            <div class="info-links">
                <a href="{% url 'core:search-page' %}">Search</a>
                <br>
                <a href="{% url 'core:my-papers' request.session.uid %}">My papers</a>
                <br>
                <a href="{% url 'core:my-tags' request.session.uid %}">My tags</a>
                <br>
                <a href="{% url 'core:my-archived-workflows' request.session.uid %}">
                    Managed archived workflows
                </a>
            </div>
        </div>

        <br><br><br>
        <h2>My Workflows</h2> <a href="{% url 'core:my-workflows' request.session.uid %}">View All</a>
        <hr>
        {% if workflows %}
            {% load custom_filters %}
            <div class="table-container">
                <table class="data-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Paper</th>
                            <th>Work Type</th>
                            <th>Stage</th>
                            <th>Status</th>
                            <th>Last Updated</th>
                            <th>manage</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for wf in workflows %}
                            <tr>
                                <td>{{ wf.name }}</td>
                                <td>{{ wf|get_title }}</td>
                                <td>{{ wf.get_work_type_display }}</td>
                                <td>{{ wf.get_stage_display }}</td>
                                <td>{{ wf.get_status_display }}</td>
                                <td>{{ wf.last_updated }}</td>
                                <td><a href="{% url 'core:workflow-detail' wf.id %}">Go to Manage</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            No workflow history.
        {% endif %}

    {% else %}
        <b>You are not logged in!</b>
        <a href="{% url 'accounts:login-register-page' %}">Login/Register</a>
        <br><br><br>
    {% endif %}
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(() => {
            // Highlight navigation block
            $("#home-nav").addClass('active-nav');
        })
    </script>
{% endblock %}