{% extends 'base.html' %}

{% block title %}
    Upload Paper
{% endblock %}

{% block style %}
    <style>
        .selectable:hover, button {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block content %}
    <form method="post" action="{% url 'core:create-workflow' %}" enctype="multipart/form-data" id="upload-form">
        {% csrf_token %}
        <label>Select Paper:
            <input id="paper" class="selectable" type="file" name="paper" accept="application/pdf" required/>
        </label>
        <br><br>
        <label>Title:
            <input id="title" type="text" name="title" required/>
        </label>
        <br><br>
        <label>Workflow name:
            <input type="text" name="name" placeholder="Untitled Workflow"/>
        </label>
        <br><br>
        <input type="hidden" name="type" value="{{ UPLOAD }}">
        <label>Replace (if paper exists): <input class="selectable" type="checkbox" name="replace" value="true"></label>
        <br><br>
        <button type="submit">Upload</button>
    </form>
    <p id="err-msg" style="color: red"></p>
    <p id="info" style="color: orangered"></p>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(() => {
            // Detect file name
            $("#paper").on("change", () => {
                const fileInput = $('#paper');
                if (fileInput[0].files.length > 0) {
                    const fullName = fileInput[0].files[0].name;
                    const title = fullName.substring(0, fullName.lastIndexOf('.'));
                    $('#title').val(title);
                }
            });

            // Upload paper
            $('#upload-form').submit(e => {
                e.preventDefault();
                const form = $('#upload-form');
                var formData = new FormData(form[0]);
                $.ajax({
                    url: form.attr('action'),
                    type: form.attr('method'),
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: res => {
                        if (res.status === 0) {
                            const wid = res.wid.toString();
                            const url = '{% url 'core:workflow-detail' 99999 %}'.replace('99999', wid);

                            $('#info').html('If you are not redirected to the workflow page, ' +
                                'click <a href="' + url + '">here</a> to redirect');
                            $('#err-msg').text('');

                            window.open(url, "_self");
                        } else {
                            $('#info').text('');
                            $('#err-msg').text("Error: " + res.err_msg);
                        }
                    }
                });
                $('#info').text('It may take a long time to spawn a workflow. Please wait...');
            });

            // Highlight navigation block
            $("#upload-nav").addClass('active-nav');
        })
    </script>

{% endblock %}