{% extends 'base.html' %}

{% block title %}
    Advanced Search
{% endblock %}

{% block style %}
    <style>
        .scrollable-checkboxes {
            display: flex;
            flex-wrap: wrap;
            height: 200px;
            width: 600px;
            overflow-y: scroll;
            border: 1px solid #ccc;
            padding: 10px;
        }

        .scrollable-checkboxes label {
            width: 33.33%;
            box-sizing: border-box;
        }

        .tooltip {
            position: relative;
            display: inline-block;
        }

        .tooltip .tooltiptext {
            visibility: hidden;
            width: 100%;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px;
            position: absolute;
            z-index: 1;
            top: 25%;
            left: 50%;
            margin-left: -100px;
            opacity: 0;
            transition: opacity 0.3s;
        }

        .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }

        .tooltip .tooltiptext::after {
            content: '';
            position: absolute;
            bottom: 100%; /* At the bottom of the tooltip */
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent #555 transparent;
        }

        .selectable:hover, button {
            cursor: pointer;
        }

        table, th, td {
            border: 1px solid black;
        }

        .filters-container {
            overflow: hidden;
            transition: max-height 0.3s ease-out;
        }

        .filters-container.collapsed {
            max-height: 0;
        }

        .filters-container.expanded {
            max-height: 500px;
        }

        .toggle-button {
            cursor: pointer;
            display: inline-block;
            margin-bottom: 10px;
        }

        .hidden-tag {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
    {% load custom_filters %}
    <div class="toggle-button">
        <span id="toggle-filters">&#x25B2; <i>(click to collapse)</i></span>
    </div>
    <div class="filters-container expanded" id="filters-container">
        <label><b>Title contains:</b>
            <input type="text" name="title-filter" id="title-filter"/>
        </label>
        <br><br>

        <label>
            <b>Owner: </b>
            <input class="selectable" type="radio" name="owner-filter" value="anyone" checked>
            Anyone
        </label>
        {% if request.user.is_authenticated and not request.user.is_superuser %}
            <label>
                <input class="selectable" type="radio" name="owner-filter" value="me">
                Me
            </label>
            <label>
                <input class="selectable" type="radio" name="owner-filter" value="others">
                Others
            </label>
        {% endif %}
        <br><br>

        <b>Select tags:</b> <label>&#x1F50E;&#xFE0F;<input id="search-bar" type="search"></label>
        <br><br>
        <div class="scrollable-checkboxes" id="t-filter">
            <label><input class="selectable" type="checkbox" id="untagged-checkbox" name="tags-filter"
                          value="-1" data-name="untagged"><i>untagged</i></label>
            {% for t in tags %}
                <label class="tooltip">
                    <input type="checkbox" class="tag-checkbox selectable" name="tags-filter" value="{{ t.id }}" data-name="{{ t.name }}">{{ t.name }}
                    <span class="tooltiptext">{% if t.definition.strip %}{{ t.definition }}{% else %}<i>No definition.</i>{% endif %}</span>
                </label>
            {% endfor %}
        </div>
        <br>

        <b>Match type: </b>
        <label>
            <input type="radio" class="match-filter selectable" name="match-filter" value="inclusive">
            Contains at least all selected tags
        </label>
        <label>
            <input type="radio" class="match-filter selectable" name="match-filter" value="union">
            Contains one of the selected tags
        </label>
        <br><br>
        <button id="search">Search</button>
        <button id="reset">Reset filters</button>
        <p id="err-msg" style="color: red"></p>
    </div>

    <hr>
    <div class="table-container">
        <p id="paper-count">Paper count: {{ papers.count }}</p>
        <table class="result-table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Tags</th>
                    <th>Owner</th>
                    <th>Last Updated</th>
                    <th>view</th>
                </tr>
            </thead>
            <tbody id="results-body">
                {% for p in papers %}
                    <tr>
                        <td>{{ p.title }}</td>
                        <td>{{ p|join_tags:", " }}</td>
                        <td>{{ p.owner.display_name }}</td>
                        <td>{{ p.last_modified }}</td>
                        <td><a href="{% url 'core:paper-detail' p.id %}" target="_blank">View Paper</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(() => {
            var searchURL = "{% url 'core:search-result' %}";
            var errMsg = $("#err-msg");

            // Search bar
            $('#search-bar').on('input', function() {
                var searchTerm = $(this).val().toLowerCase();
                $('#t-filter label').each(function() {
                    var dataName = $(this).find('input').data('name').toLowerCase();
                    if (dataName.includes(searchTerm)) {
                        $(this).removeClass('hidden-tag');
                    } else {
                        $(this).addClass('hidden-tag');
                    }
                });
            });

            // Toggle filters button
            $("#toggle-filters").click(function () {
                var filtersContainer = $("#filters-container");
                if (filtersContainer.hasClass("collapsed")) {
                    filtersContainer.removeClass("collapsed").addClass("expanded");
                    $("#toggle-filters").html("&#x25B2; <i>(click to collapse)</i>");  // Up arrow
                } else {
                    filtersContainer.removeClass("expanded").addClass("collapsed");
                    $("#toggle-filters").html("&#x25BC; <i>(click to expand)</i>");  // Down arrow
                }
            });

            // Reset filters to default, do not update table
            $("#reset").click(function () {
                var tagCheckbox = $(".tag-checkbox");
                var untaggedBox = $("#untagged-checkbox");
                $('#title-filter').val('');  // Clear title filter input
                $("input[name='owner-filter'][value='anyone']").prop('checked', true);  // Set 'anyone' radio checked
                $("input[name='tags-filter']").prop('checked', false);  // Uncheck all tags filter checkboxes
                $("input[name='match-filter']").prop('checked', false);  // Uncheck all match type radios
                $('#search-bar').val('');  // Clear search input for tags
                $('#t-filter label').removeClass('hidden-tag');  // Show all hidden checkboxes
                errMsg.text("");  // Clear error message
            });

            // Filter event (search and update table)
            $("#search").click(function () {
                var titleFilter = $("#title-filter").val();
                var ownerFilter = $("input[name='owner-filter']:checked").val();
                var tagsFilter = [];
                $("input[name='tags-filter']:checked").each(function () {
                    tagsFilter.push($(this).val());
                });
                var matchFilter = $("input[name='match-filter']:checked").val();

                // Clear previous error messages and check for restrictions
                errMsg.text('');
                if (tagsFilter.length > 0 && !matchFilter) {
                    errMsg.text("Error: Please select a match type.");
                    return;
                }

                var formData = new FormData();
                formData.append('title', titleFilter);
                formData.append('owner', ownerFilter);
                tagsFilter.forEach(function(t) {
                    formData.append('tags', t);
                });
                formData.append('match', matchFilter);
                formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

                $.ajax({
                    url: searchURL,
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: res => {
                        if (res.status === 0) {
                            errMsg.text('');
                            // Update table
                            var resultsBody = $("#results-body");
                            resultsBody.empty();
                            res.papers.forEach(p => {
                                var pid = p.id;
                                var paperURL = "{% url 'core:paper-detail' 999 %}".replace("999", pid);
                                var newRow = `
                                    <tr>
                                        <td>${p.title}</td>
                                        <td>${p.tags}</td>
                                        <td>${p.owner_name}</td>
                                        <td>${p.last_modified}</td>
                                        <td><a href=${paperURL} target="_blank">View Paper</a></td>
                                    </tr>
                                `;
                                resultsBody.append(newRow);
                            });

                            $("#paper-count").text("Paper count: " + res.papers.length);
                        } else {
                            errMsg.text("Error: " + res.err_msg);
                        }
                    }
                });
            });

            // Highlight navigation block
            $("#search-nav").addClass('active-nav');
        })
    </script>
{% endblock %}