{% extends 'base.html' %}

{% block title %}
    Add Tag and Definition
{% endblock %}

{% block style %}
    <style>
        label {
            display: block;
            margin-bottom: 10px;
        }

        textarea {
            resize: none;
            height: 100px;
            width: 500px;
            font-size: larger;
        }

        .form-group {
            display: flex;
            width: 500px;
            flex-direction: column;
            align-items: flex-start;
        }

        .form-group textarea {
            align-self: stretch;
        }

        button {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block content %}
    <form method="post" action="{% url 'core:add-tag-definition' %}" enctype="multipart/form-data" id="tag-form">
        {% csrf_token %}
        <label>Tag name:&nbsp;
            <input type="text" name="name" id="name" required/> (one at a time;
            semicolons, leading and trailing spaces will be removed)
        </label>
        <br>
        <div class="form-group">
            <label for="definition">Definition: </label>
            <textarea name="definition" id="definition"></textarea>
        </div>
        <br>
        <button type="submit">Add Tag</button>
    </form>
    <p id="suc-msg" style="color: green"></p>
    <p id="err-msg" style="color: red"></p>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(() => {
            // Add tag
            $('#tag-form').submit(e => {
                e.preventDefault();
                if (!confirm("Are you sure to create this new tag" +
                    ($("#definition").val().trim() === ""?" without definition":"")  + "?")) {
                    return
                }
                const form = $('#tag-form');
                var formData = new FormData(form[0]);
                $.ajax({
                    url: form.attr('action'),
                    type: form.attr('method'),
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: res => {
                        if (res.status === 0) {
                            $('#suc-msg').text('Successfully added tag "' + res.tag_name + '"!');
                            $('#err-msg').text('');
                            $('#name').val('');
                            $('#definition').val('');
                        } else {
                            $('#suc-msg').text('');
                            $('#err-msg').text("Error: " + res.err_msg);
                        }
                    }
                });
            });

            // Highlight navigation block
            $("#tag-nav").addClass('active-nav');
        })
    </script>
{% endblock %}