{% extends 'base.html' %}

{% block title %}
    My Tags
{% endblock %}

{% block style %}
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
{% endblock %}

{% block content %}
    {% if page_obj %}
        <div class="table-container">
            <table class="data-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Definition</th>
                        <th>Paper Count</th>
                        <th>manage</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tag in page_obj %}
                        <tr>
                            <td>{{ tag.name }}</td>
                            <td>{{ tag.definition }}</td>
                            <td>{{ tag.paper_count }}</td>
                            <td><button class="update-tag-link" data-tname="{{ tag.name }}">update</button> |
                                <button class="delete-tag" data-tid="{{ tag.id }}">delete</button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br><br><br>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>

    {% else %}
        No papers matched.
    {% endif %}
    <br>
    <p id="err-msg" style="color: red"></p>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(() => {
            var deleteURL = "{% url 'core:delete-tag-definition' %}";

            // Update event
            $(".update-tag-link").click(function () {
                var newURL = "{% url 'core:update-tag-definition-page' %}?tagname=" + $(this).data("tname");
                window.open(newURL, "_self");
            })

            // Delete event
            $(".delete-tag").click(function (){
                if (!confirm("Are you sure to delete this tag? WARNING: This operation is not invertible!")) {
                    return
                }
                $.ajax({
                    url: deleteURL,
                    type: "POST",
                    data: {
                        'tid': $(this).data('tid'),
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: res => {
                        if (res.status === 0) {
                            $("#err-msg").text('');
                            location.reload();
                        } else {
                            $("#err-msg").text("Error: " + res.err_msg);
                        }
                    }
                })
            });
        })
    </script>

{% endblock %}