{% extends 'base.html' %}

{% block title %}
    Archived Workflows
{% endblock %}

{% block content %}
    {% if page_obj %}
        {% for workflow in page_obj %}
            {{ workflow.name }} | {{ workflow.get_status_display }} |
            <button class="restore" data-wid="{{ workflow.id }}">Restore</button> <br>
        {% endfor %}
        <br><br><br>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        <p id="err-msg" style="color: red"></p>

    {% else %}
        You have no archived workflows.
    {% endif %}
{% endblock %}

{% block scripts %}
    <script>
        var restoreURL = "{% url 'core:restore-workflow' %}";

        $(document).ready(() => {
            // Restore event
            $(".restore").on('click', function () {
                if (!confirm("Are you sure to restore selected workflow?")) {
                    return
                }
                var wid = $(this).data('wid');
                $.ajax({
                    url: restoreURL,
                    type: 'POST',
                    data: {
                        "wid": wid,
                        "csrfmiddlewaretoken": '{{ csrf_token }}'
                    },
                    success: res => {
                        if (res.status === 0) {
                            $('#err-msg').text('');
                            location.reload();
                        } else {
                            $('#err-msg').text("Error: " + res.err_msg);
                        }
                    }
                })
            });
        })
    </script>

{% endblock %}