{% extends 'base.html' %}

{% block title %}
    My Workflows
{% endblock %}

{% block style %}
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
{% endblock %}

{% block content %}
    {% load custom_filters %}
    {% if page_obj %}
        <div style="font-size: larger; font-weight: bold; margin-bottom: 10px;">List of my workflows:</div>
        <div class="table-container">
            <table class="data-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Paper</th>
                        <th>Work Type</th>
                        <th>Stage</th>
                        <th>Status</th>
                        <th>Last Updated</th>
                        <th>manage</th>
                    </tr>
                </thead>
                <tbody>
                    {% for wf in page_obj %}
                        <tr>
                            <td>{{ wf.name }}</td>
                            <td>{{ wf|get_title }}</td>
                            <td>{{ wf.get_work_type_display }}</td>
                            <td>{{ wf.get_stage_display }}</td>
                            <td>{{ wf.get_status_display }}</td>
                            <td>{{ wf.last_updated }}</td>
                            <td><a href="{% url 'core:workflow-detail' wf.id %}">Go to Manage</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br><br><br>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>

    {% else %}
        No workflows matched.
    {% endif %}
{% endblock %}