<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>
        {% block title %}
            Sakana Reference Manager
        {% endblock %}
    </title>

    {% load static %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'ico/favicon.ico' %}">

    {% block style %}
    {% endblock %}

</head>

<body>
    {% block content %}
    <h2> Replace with
        <span style="color: red">{% verbatim %} {% block content %} some content ... {% endblock %} {% endverbatim %}</span>
        in your template!</h2>
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>

    {% block script %}
    {% endblock %}

</body>

</html>