{% extends 'base.html' %}

{% block title %}
    My Papers
{% endblock %}

{% block content %}
    {% if page_obj %}
        {% for paper in page_obj %}
            {{ paper.title }} | {{ paper.tags.all }} |
            <a href="{% url 'core:paper-detail' paper.id %}" target="_blank">Go to manage</a> <br>
        {% endfor %}
        <br><br><br>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>

    {% else %}
        No papers matched.
    {% endif %}
    <br>
    <a id="back" href="#">Go Back</a><br>

    <script>
        $(document).ready(() => {
            // go back or redirect to home link
            $("#back").click(e => {
                e.preventDefault();
                if (window.history.length > 1) {
                    window.history.back();
                } else {
                    window.location.href = "{% url 'core:index' %}";
                }
            });
        })
    </script>

{% endblock %}